* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #310e05;
  position: relative;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section {
  background-color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}

.row {
  margin-bottom: 20px;
}

.options {
  list-style: none;
  margin: 10px 0 0 5px;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}

.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
  -webkit-filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}

.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}

#fill-color {
  height: 14px;
  width: 14px;
  cursor: pointer;
}

#fill-color:checked ~ label {
  color: #4a98f7;
}

#size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: 3px;
  position: relative;
}

.colors .option:nth-child(1) {
  background-color: white;
  border: 1px solid #bfbfbfbf;
}
.colors .option:nth-child(2) {
  background-color: black;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
}

.colors .option.selected::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  border: 2px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.colors .option:first-child.selected::before {
  border-color: #ccc;
}

.buttons button {
  width: 100%;
  color: white;
  border: none;
  outline: none;
  padding: 11px 0;
  margin-bottom: 13px;
  background-color: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.buttons .clear-canvas {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  color: #6c757d;
  border: 1px solid #6c757d;
}

.buttons .clear-canvas:hover {
  color: white;
  background-color: #6c757d;
}

.buttons .save-img {
  background-color: #4a98f7;
  border: 1px solid #4a98f7;
}

.drawing-board {
  flex: 1;
}

.drawing-board canvas {
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 1rem;
}

footer p {
  color: white;
}

p span {
  color: red;
  font-size: 1.5rem;
}

p span i {
  color: #4a98f7;
  font-size: initial;
}
